*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: arial;
	1b0c76fd8f5cf843ae3123bf9a43bc76
}

.card{
	width: 350px;
	margin: 70px auto 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 9px;
	padding: 20px 0;
}
.search-box{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:0 auto;
	padding: 11px 0;
}

.search-box input{
	width: 82%;
	padding-left: 14px;
	border-radius: 17px;
	height: 40px;
	outline: none;
	border: none;
	font-size: 17px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-box .search-img{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-box .search-img img{
	width: 18px;
	height: 18px;
	position: relative;
	top: 11px;
	left: 11px;
}

.weather{
	text-align: center;
	padding: 15px 0;
}

.weather img{
   width: 100px;
   height: 100px;
}
.weather h1{
	font-size: 50px;
	padding: 10px 0;
}

.weather h4{
	font-size: 25px;
	padding: 5px 0;
}
.Add-info{
	display: flex;
	padding:10px;
	margin: 10px;
	background-color: ;
}

.Add-info .left{
	flex-basis: 50%;
	display: flex;
}
.Add-info .left img{
   margin-right: 12px;
   width: 35px;
   height: 35px;
}
.Add-info .right{
	flex-basis: 50%;
	display: flex;
}
.Add-info .right img{
   margin-right: 12px;
   width: 30px;
   height: 35px;
}




